always-auth=true
registry=https://appfolio.jfrog.io/artifactory/api/npm/appfolio-dynamic_time_zone-npm/
//appfolio.jfrog.io/artifactory/api/npm/appfolio-dynamic_time_zone-npm/:_authToken=${JFROG_ACCESS_TOKEN}
